* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

nav {
    width: 80vw;
    height: 115px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;

    div {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            width: 300px;
            height: 35px;
            margin-left: 20px;
            border-radius: 10px;
            border: 1px solid;

            @media (max-width:900px) {
                display: none;
            }


        }
    }

    button {
        width: 182px;
        height: 52px;
        border: 1px solid #2A7AE4;
        color: #2A7AE4;
        background-color: white;
        text-decoration: none;
        font-size: 15px;
        cursor: pointer;
    }

}

#banner {
    width: 100vw;
    height: 352px;
    background-image: url("../img/banner-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;

    @media(max-width:900px) {
        background-position: center center;
    }


    #info-wrapper {
        position: relative;
        top: 190px;
        left: 150px;
        color: white;
        font-weight: bold;
        letter-spacing: 1px;

        @media(max-width:900px) {
            font-size: 10px;
        }

        button {
            margin-top: 10px;
            width: 129px;
            height: 51px;
            border: none;
            color: white;
            background-color: #2A7AE4;
            text-decoration: none;
            font-size: 15px;
        }
    }

}


#categories-wrapper {
    margin: 359px auto 0 auto;
    width: 80vw;

    h2 {
        color: #464646;
        font-weight: bold;
    }

}

#main-wrapper {
    margin-top: 30px;
}

#categorie-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    a {
        color: #2A7AE4;
        font-size: 10px;
        line-height: 19px;
        font-weight: 700;
    }


}

#product-card-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

#product-card {
    display: flex;
    flex-direction: column;
    padding: 5px;

    img {
        width: 150px;
        height: auto;
    }

    p {
        margin-top: 5px;
        color: #464646;
        font-size: 14px;
        font-weight: 500;

    }

    span {
        margin-top: 5px;
        font-size: 16px;
        color: #464646;

    }

    a {
        color: #2A7AE4;
        font-size: 16px;
        line-height: 19px;
        font-weight: 700;
    }

    button {
        margin-top: 10px;
        width: 100%;
        height: 25px;
        border: none;
        color: white;
        background-color: #2A7AE4;
        text-decoration: none;
        font-size: 10px;
        cursor: pointer;
    }
}


#contacto {
    background-color: #EAF2FD;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
    padding: 20px;
    margin-top: 50px;

    @media(max-width:900px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }

    img {
        width: 120px;
        height: 35px;
    }

    #info {
        display: flex;
        flex-direction: column;
        color: #464646;
        font-size: 16px;
        font-weight: 500;
        margin-top: 25px;

        p {
            margin: 10px 0;
        }

    }

    #form-contacto {
        display: flex;
        flex-direction: column;
        color: #464646;
        margin-top: 25px;


        input {
            width: 500px;
            height: 50px;
            margin-top: 5px;

            @media(max-width:900px) {
                width: 200px;
                height: 50px;
                ;
            }

        }

        button {
            margin-top: 10px;
            width: 129px;
            height: 51px;
            border: none;
            color: white;
            background-color: #2A7AE4;
            text-decoration: none;
            font-size: 15px;
        }

    }


}

footer {
    margin-top: 0;
    text-align: center;
    margin-top: 25px;


    div {
        display: flex;
        justify-content: center;
        padding: 5px;

        div {
            width: 1.5rem;
            height: 1.5rem;

            img {
                height: 100%;
                width: 100%;
            }
        }
    }
}

#modal {
    width: 100vw;
    height: 300vw;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    position: absolute;
    display: none;

    button {
        margin-top: 10px;
        width: 100%;
        height: 30px;
        border: none;
        color: white;
        background-color: #2A7AE4;
        text-decoration: none;
        font-size: 15px;
        cursor: pointer;
    }

}

#product-info {
    width: 75vw;
    height: auto;
    background: rgb(140, 135, 217);
    background: linear-gradient(90deg, rgba(140, 135, 217, 1) 0%, rgba(9, 204, 84, 0.9444152661064426) 50%, rgba(0, 212, 255, 1) 100%);
    z-index: 1;
    position: relative;
    top: 15rem;
    margin: 0 auto;
    vertical-align: middle;
    color: white;
    padding: 5px;


    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 75%;
            height: auto;
        }
    }


}

#login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2A7AE4;
    font-weight: 700;

    input {
        margin: 15px 0 15px 0;
        width: 250px;
        height: 30px;
    }

    div {
        width: 250px;
        margin: 15px 0 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 10px;
        }

    }

    button {
        margin-top: 10px;
        width: 100px;
        height: 40px;
        border: none;
        color: white;
        background-color: #2A7AE4;
        text-decoration: none;
        font-size: 15px;
        align-items: flex-start;
        cursor: pointer;
    }


}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.registroform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2A7AE4;
    font-weight: 600;

    ul {


        li {

            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 15px 0 15px 0;

            input {
                width: 300px;
                height: 40px;
            }
        }

    }

    button {
        margin-top: 10px;
        width: 100px;
        height: 40px;
        border: none;
        color: white;
        background-color: #2A7AE4;
        text-decoration: none;
        font-size: 15px;
        align-items: flex-start;
        cursor: pointer;
    }




}

#alta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2A7AE4;

    input {
        margin: 15px 0 15px 0;
        width: 350px;
        height: 25px;
    }
}

#enviar {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    border: none;
    color: white;
    background-color: #2A7AE4;
    text-decoration: none;
    font-size: 15px;
    align-items: flex-start;
    cursor: pointer;

}